<!--The content below is only a placeholder and can be replaced.-->
<div class="customerorders-view">
  <h1 style="text-align: center;">
    {{title}}
  </h1>

  <div class="customer-search">
    <form>
      <md-form-field>
        <label>
          Search by last name:&nbsp;
          <input type="text" mdInput
                 id="lastNameInput" required
                 [(ngModel)]="searchTerm"
                 (change)="handleSearchChanged(myInput.value)"
                 name="lastNameInput" #myInput>
        </label>
      </md-form-field>
    </form>
  </div>
  <hr/>
  <div class="customer-list">
    <md-list flex>
      <md-list-item *ngFor='let c of customers'>
        <span (click)="handleCustomerSelected(c)">
          <span>{{c.id}}</span>
          &nbsp;
          <span>{{c.firstName}}</span>
          &nbsp;
          <span>{{c.lastName}}</span>
        </span>
      </md-list-item>
    </md-list>
    <!--<ul style="list-style: none;">-->
    <!--<li *ngFor='let c of customers' (click)="handleCustomerSelected(c)">-->
    <!--<div class='customer-name'>{{c.firstName}}</div>-->
    <!--<div class='customer-name'>{{c.lastName}}</div>-->
    <!--</li>-->
    <!--</ul>-->
  </div>
  <div class="order-list">
    <h4>Customer orders</h4>
    <md-list flex>
      <md-list-item *ngFor='let o of customerOrders'>
        <span>Order Id:&nbsp;{{o.id}}</span>&nbsp;|&nbsp;
        <span>Product:&nbsp;{{o.product.name}}</span>&nbsp;|&nbsp;
        <span>Items:&nbsp;{{o.itemCount}}</span>&nbsp;|&nbsp;
        <span>Total:&nbsp;{{o.itemCount * o.product.unitPrice}}</span>
      </md-list-item>
    </md-list>
    <!--<ul style="list-style: none;">-->
    <!--<li *ngFor='let o of customerOrders'>-->
    <!--<span>Product:&nbsp;{{o.product.name}}</span>-->
    <!--<span>Items:&nbsp;{{o.itemCount}}</span>-->
    <!--<span>Total:&nbsp;{{o.itemCount * o.product.unitPrice}}</span>-->
    <!--</li>-->
    <!--</ul>-->
  </div>
</div>
