@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.customerorders-view {
  height: 100%;
  width: 100%;
}
.customer-list {
  float: left;
  width: 40%;
  background-color: #eaeaea;
  height: 400px;
}
.customer-list li,
.customer-list .mat-list-item {
  border-bottom: solid 1px midnightblue;
  margin-bottom: 5px;
}
.customer-list li:hover,
.customer-list .mat-list-item:hover {
  color:darkorchid;
}
.order-list {
  float: left;
  width: 60%;
  background-color: lightblue;
  height: 400px;
}
